* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template: 65px auto 1fr / repeat(3, 1fr);
}

#nav-bar {
    background-color: black;
    color: white;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-template-areas: "logo . nav-links";
    grid-area: 1 / 1 / 2 / 4;
}


#logo {
    background-color: white;
    color:black;
    width: 50px;
    height: 50px;
    grid-area: logo;
    align-self: center;
    margin-left: 5px;
}

#nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-area: nav-links;
}

#dropdown-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.dropdown-selections {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.dropdown-choice {
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

.dropdown-choice:nth-last-child(1) {
    border-radius: 0 0 15px 15px;
}

.dropdown-choice:hover {
    background-color: #8080806b;
}

.start-invisible {
    visibility: hidden;
}
@keyframes menu-appear {
    from {
        font-size: 0;
        height: 10px;
    }
    to {
        /* why does this get rid of stutter? */
        height: 500px; 
    }
}

.makeMove {
    animation-name: menu-appear;
    animation-duration: 0.5s;
}

#nav-links > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nav-links > div:hover {
    background-color:#a3999970;
}
